streamlit
torch
python-dotenv
pymupdf  # PyMuPDF
easyocr
pdf2image
langchain
langchain-community
langchain-huggingface
langchain-groq
faiss-cpu
numpy
pillow
sentence-transformers  # Required for HuggingFaceEmbeddings
pytesseract
fpdf
matplotlib
nltk
python-docx
bcrypt
pytz
streamlit-autorefresh
tabulate
language-tool-python
pdfkit
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
